[project]
	description = Simple Shell scripts for agilo automation
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ckannan
[access "refs/for/refs/*"]
	read = group user/ckannan
	push = group user/ckannan
	label-Code-Review = -2..+2 group user/ckannan
	label-Verified = -1..+1 group user/ckannan
	rebase = group user/ckannan
	removeReviewer = group user/ckannan
	submit = group user/ckannan
[access "refs/heads/*"]
	read = group user/ckannan
	create = group user/ckannan
	push = +force group user/ckannan
	pushMerge = group user/ckannan
[access "refs/tags/*"]
	push = +force group user/ckannan
	pushTag = group user/ckannan
	pushSignedTag = group user/ckannan
